app-loader{
    top:40%;
    left: 50%;
  }

  router-outle{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  app-menu-small{
    display: none;
  }

  @media (max-width: 600px) {
    app-menu-responsive {
      display: none;
    }
    app-menu-small{
      display: inline;
    }

  }