app-loader{
    top:40%;
    left: 50%;
  }

  router-outle{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  app-menu-small{
    display: none;
  }

  @media (max-width: 600px) {
    app-menu-responsive {
      display: none;
    }
    app-menu-small{
      display: inline;
    }

  }

  .alertZone{
    max-width: 20rem;
    max-height: 30rem;
    margin: 20px;

    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;

  }