<!-- muestro la lista de usuarios/nombre   -->
<!-- <div class="container">
    <div class="row">
          <br> <br>
          <h1>Lista de Usuarios</h1>  
    </div>
  </div>


<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of listaUser">
                Usuario: {{item.usuario}} <br>
                nombre: {{item.nombre}}
            </li>
        </ul>
    </div>
  </div>


   -->

<br> <br>
  <div class="container">
    <div class="row justify-content-md-left">
        <div class="col-md-12">
            <div class="card text-left">
                <div class="card-header">
                    Lista de Usuarios
                    </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of listaUser">
                                    Usuario: {{item.usuario}}
                                </li>
                            </ul>
                        </div>
                    <div class="card-footer text-muted">
                </div>
            </div>  
        </div>    
    </div>
  </div>


 