<!-- muestro la lista de usuarios/nombre   -->
<!-- <div class="container">
    <div class="row">
          <br> <br>
          <h1>Lista de Usuarios</h1>  
    </div>
  </div>


<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of listaUser">
                Usuario: {{item.usuario}} <br>
                nombre: {{item.nombre}}
            </li>
        </ul>
    </div>
  </div>


   -->

<!-- <br> <br>
  <div class="container">
    <div class="row justify-content-md-left">
        <div class="col-md-12">
            <div class="card text-left">
                <div class="card-header">
                    Lista de Usuarios
                    </div>
                        <div class="card-body">
                            
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Rol</th>
                                    <th scope="col">Turno</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of listaUser">
                                    <td>{{item.ID}}</td>
                                    <td>{{item.NOMBRE}}</td>
                                    <td>{{item.APELLIDO}}</td>
                                    <td>{{item.USUARIO}}</td>
                                    <td>{{item.ROL}}</td>
                                    <td>{{item.TURNO}}</td>
                                  </tr>
                              
                                </tbody>
                              </table>
                        </div>
                    <div class="card-footer text-muted">
                </div>
            </div>  
        </div>    
    </div>
  </div> -->


  <div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>Lista de Usuarios</h3>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card text-center   shadow-lg  rounded">
                <div class="card-header">
                  
                </div>
                <div class="card-body">


                    <table class="table">
                       
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Apellido</th>
                          <th scope="col">Usuario</th>
                          <th scope="col">Rol</th>
                          <th scope="col">Turno</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listaUser">
                          <td>{{item.ID}}</td>
                          <td>{{item.NOMBRE}}</td>
                          <td>{{item.APELLIDO}}</td>
                          <td>{{item.USUARIO}}</td>
                          <td>{{item.ROL}}</td>
                          <td>{{item.TURNO}}</td>
                        </tr>
                    
                      </tbody>

                    </table>
                  
                </div>
                <div class="card-footer text-muted">
                  
                </div>
              </div>
        </div>
    </div>
</div>