<div class="container-fluid">
    <div class="row">
        <div class="col-12 pr-0">
            <app-info-header  imgUrl="../../../assets/header2.jpeg " ></app-info-header>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <div class="card bg-light shadow-lg  bg-white rounded" >
                <div class="card-header">Ayudanos a crecer</div>
                <div class="card-body">
                 <form  #contacto="ngForm" (ngSubmit)="onSubmit" >
                    <div class="row">
                          <div class="col">
                            <label for="validationServerUsername">Nombre</label>                           
                                <input type="text" class="form-control" name="nombre" #nombre="ngModel" [ngClass]="{'is-valid': nombre.valid && nombre.touched,'is-invalid': !nombre.valid && nombre.touched }"  [(ngModel)]="nombreData"   required>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="validationServerUsername">Email </label>
                                <input type="text" class="form-control " [ngClass]="{'is-valid': email.valid && email.touched,'is-invalid': !email.valid && email.touched }"  name="email" #email="ngModel"  [(ngModel)]="emailData" required>
                             
                          </div>
                          <div class="col-4">
                            <label for="validationServerUsername">Telefono </label>
                                <input type="text" class="form-control " [ngClass]="{'is-valid': telefono.valid && telefono.touched,'is-invalid': !telefono.valid && telefono.touched }"  name="telefono"  #telefono="ngModel"  [(ngModel)]="telefonoData"   required>
                        
                          </div>
                        
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="customRange2">Califiquenos!</label>
                            <input type="range" class="custom-range " min="0" value="5" max="10" id="customRange2"  name="rango"  #rango="ngModel"  [(ngModel)]="calificacionNumerica">

                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <textarea class="form-control" name="mensaje" rows="3" #mensaje="ngModel"  [(ngModel)]="mensajeData"    [ngClass]="{'is-valid': mensaje.valid && mensaje.touched,'is-invalid': !mensaje.valid && mensaje.touched }"  style="resize: none;" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-left">
                            <button class="btn btn-success mt-2" (click)="EnviarFormContacto()" [disabled]="!contacto.valid" >Enviar</button>
                        </div>
                    </div>

                    
                 </form>

                </div>
              </div>


        </div>
        
    </div>
    <div class="row m-3">
        <div class="col-6">


        </div>
    </div>

</div>
