<!-- <h1>Mesas del mozo</h1>
<div class="container ">
   <div class="row">
      <div class="col card">
          <ul>
              <li class="card justify-content-center text-center bg-secondary m-2 mesa" *ngFor="let mesa of mesas">{{mesa.numero}}</li>
          </ul>
      </div> 
   </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Mesas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Mozo: {{mozo}}
                </div>
                <div class="card-body">
                    <div class="continer">
                        <div class="row">
                            <div class="col" *ngFor="let mesa of mesas">                                
                                <app-mesa class="btn" [mesaObj]='mesa'></app-mesa>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                  Fecha: {{fecha.getDate()}}/{{fecha.getMonth()+1}}/{{fecha.getFullYear()}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Platos de la Mesa </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>3. Milanesas</li>
              <li>3. Papa Fritas</li>
              <li>3. Gaseosas</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="d-flex flex-row justify-content-center">
    <div class="card justify-content-center text-center bg-primary m-2 mesa" >
    <div class="card rounded-circle bg-danger alerta">1</div>1</div>
    <div class="card justify-content-center text-center bg-secondary m-2 mesa">2</div>
    
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="card justify-content-center text-center bg-warning m-2 mesa">3</div>
    <div class="card justify-content-center text-center bg-success m-2 mesa">4</div>
    <div class="card justify-content-center text-center bg-warning m-2 mesa">5</div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >6</div>
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >7</div>
    <div class="card justify-content-center text-center bg-success m-2 mesa">8</div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >9</div>
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >10</div>
    <div class="card justify-content-center text-center bg-success m-2 mesa">11</div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >12</div>
    <div class="card justify-content-center text-center bg-danger m-2 mesa" >13</div>
</div> -->