<div class="container-fluid">
    <div class="row">
        <div class="col-12 pr-0">
          <app-info-header  imgUrl="../../../assets/header2.jpeg " ></app-info-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="logginError" role="alert">
            {{logginErrorText}}
              
            </div>
            <div class="card bg-light shadow-lg mt-4 bg-white rounded" >
              <div class="card-header">Ingresar</div>
              <div class="card-body">
               <form  #iniciarSesion="ngForm" (ngSubmit)="onSubmit(iniciarSesion)" >
                  <div class="row">
                      <div class="col-12">
                          <label for="validationServerUsername">Usuario </label>
                          <div class="input-group">
                              <input type="text" class="form-control" maxlength="8" name="usuario" #usuario="ngModel"  [(ngModel)]="usuarioData"   required>
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend3">
                                  <img *ngIf="usuario.valid && usuario.touched" src="" alt="" srcset="../../../assets/check.png">
                                  <img *ngIf="!usuario.valid && usuario.touched"src="" alt="" srcset="../../../assets/cancelar.png">
                              </span>
                            </div>
                            
                          </div>
                        </div>

                        <div class="col-12">
                          <label for="validationServerUsername">Contraseña </label>
                          <div class="input-group">
                              <input type="password" class="form-control" maxlength="20" name="password" #password="ngModel"  [(ngModel)]="passwordData"   required>
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend3">
                                  <img *ngIf="password.valid && password.touched" src="" alt="" srcset="../../../assets/check.png">
                                  <img *ngIf="!password.valid  && password.touched" src="" alt="" srcset="../../../assets/cancelar.png">
                              </span>
                            </div>
                            
                          </div>
                        </div>

                  </div>
                  <div class="row">
                    
                  </div>
                  <div class="row">
                      <div class="col text-left">
                          <button class="btn btn-success mt-2"  type="submit" (click)="login()" [disabled]="!iniciarSesion.valid" >Enviar</button>
                      </div>
                  </div>

                  
               </form>

              </div>
            </div>
          </div>
        </div>
       
    </div>
</div>
