<div class="container-fluid">
    <div class="row">
        <div class="col-12 pr-0">
            <app-info-header titulo="Los Hermanos" subTitulo="Nuestra comida nos distingue desde 1813" imgUrl="../../../assets/head1.jpg" ></app-info-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row m-2" >
                <div class="col-8">
                    <h3>¿Quienes Somos?</h3>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-8">
                    <p>
                        <strong>En el patio</strong><strong> de El Gran Paraíso</strong>&nbsp;se mantiene un conventillo que data del año 1890. &nbsp;Es una construcción de chapas y maderas antiguas que conserva su estilo original. Se pueden visitar las habitaciones de la Planta Alta disfrutando de una maravillosa vista de Caminito
                      </p>
                </div>
            </div>
        </div>
    </div>

</div>
