<div class="container-fluid">
    <div class="row">
        <div class="col-12 pr-0">
            <app-info-header  imgUrl="../../../assets/header2.jpeg " ></app-info-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           
            <div class="row mt-3 textCustomize" >
                <div class="col mt-2">
                    <h3>¿Quienes Somos?</h3>

                    <p>
                        <strong>En el patio</strong><strong> de El Gran Paraíso</strong>&nbsp;se mantiene un conventillo que data del año 1890. &nbsp;Es una construcción de chapas y maderas antiguas que conserva su estilo original. Se pueden visitar las habitaciones de la Planta Alta disfrutando de una maravillosa vista de Caminito
                    </p>
                    
                </div>

                <div class="col mt-2">
                    <h3>¿Donde Estamos?</h3>
                    <iframe class="shadow-lg p-3 mb-5 bg-white rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1735.7506667665893!2d-58.52414900227699!3d-34.7893959283138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd03b1500e073%3A0x5d9d510150cbf7da!2sUniversidad%20Provincial%20De%20Ezeiza!5e0!3m2!1ses!2sar!4v1602690234298!5m2!1ses!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>
