<footer class="footer text-center">
    <div class="cointainer"> 
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/svg/011-instagram.svg" height="40"  width="40"></a>
        
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/svg/001-facebook.svg" height="40"  width="40"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/svg/016-tik tok.svg" height="40"  width="40"></a> 
       <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/svg/013-twitter.svg" height="40"  width="40"> </a>     
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/svg/003-whatsapp.svg" height="40"  width="40"></a>        
    </div>
</footer>