.footer{
    background: #222f3e;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer div img{
    margin: 10px 20px 10px;
    transition: all 0.5s ;
    
}

.footer div img:hover{

    border-bottom: solid 5px black;
    border-radius: 5px;

}